
html, body {
  background-color: #023535;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  position: relative; 
  font-family: 'Jersey 25', sans-serif; 
  overflow: hidden;
}
#rules-box{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
    box-shadow: 0 8px 32px #023535 ;

}
#rules-box.hidden { display: none; }

#start-btn {
  margin-top: 20px;
  font-size: 1.2em;
  padding: 30px 40px;
  border-radius: 40px;
  text-align: center;
  box-shadow: 0 8px 32px #023535;
;
;
  background: #FACFCE;
  color: #23606e;
  cursor: pointer;
  min-width: 220px;
  max-width: 90vw;
  position: relative;
}

#message-overlay {
  position: fixed;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
#message-overlay.hidden { display: none; }

.message-box {
  background: #23606e;
  color: #FACFCE;
  padding: 40px 60px;
  border-radius: 30px;
  text-align: center;
  box-shadow: 0 8px 32px #023535 ;
}
#play-again-btn {
  margin-top: 20px;
  font-size: 1.2em;
  padding: 30px 40px;
  border-radius: 40px;
  text-align: center;
  box-shadow: 0 8px 32px #023535;
  background: #FACFCE;
  color: #23606e;
  cursor: pointer;
  min-width: 220px;
  max-width: 90vw;
}

#game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width:100vw;
}

#game-board {
  width: 60vw;
  max-width: 600px;
  height: 60vw;
  max-height: 600px;
  background-color: #23606e;
  box-sizing: border-box;
  color: #ffffff;
  font-size: 3vw;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  line-height: 1.5;
  margin: 0 auto;
  border-radius: 30px;
  overflow: hidden;
}

.field-grid {
  display: grid;
  height: 100%;
  width: 100%;
}
.field-cell {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em; 
  border: 1px solid transparent; 
}

#game-board, .field-grid {
  overflow: auto;
}


.game-title {
  font-family: 'Jersey 25', sans-serif;
  font-size: clamp(32px, 12.5vw, 180px);
  color: #facfce;
  position: static;
  text-align: center;
  top: auto; /* adjust as needed */
  left: auto;
  transform: none;
  margin: 0;
}


